extends layout

block content

    h1= title
    p Welcome to #{title}

    ul#phones
        for phone,address in phones
            li= address
                input(type="text", name="address", id=address)
        else
            li sorry, no phones

    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/text-sender.js')
